root = true

[*.{cs,vb}]
indent_size = 4
trim_trailing_whitespace = true
dotnet_style_predefined_type_for_locals_parameters_members = true:suggestion
dotnet_style_predefined_type_for_member_access = true:suggestion
dotnet_style_require_accessibility_modifiers = never:none
dotnet_style_readonly_field = false:none

[*.cs]
csharp_new_line_before_open_brace = methods
csharp_preferred_modifier_order = public, private, protected, internal, static, extern, new, virtual, abstract, sealed, override, readonly, unsafe, volatile, async:suggestion
